<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>ThrottleWatch</title>
    <link rel="icon" type="image/svg+xml" href="favicon.svg" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="ThrottleWatch.Dashboard.styles.css" />
    <HeadOutlet />
</head>
<body class="dark">
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
    <script src="_content/Blazor-ApexCharts/js/blazor-apexcharts.js"></script>
</body>
</html>
